---
export const prerender = true;
import { Image } from 'astro:assets'

import Layout from "../layouts/LandingLayout.astro";

---

<Layout title={`The California Hotel Landing Page Index`} description={`The California Hotel Landing Page Index.`}>







		
<div class="my-20">

  <h1 class="text-center font-bold text-2xl lg:text-6xl text-gray-800">
    The California Hotel Landing Pages
  </h1>  

</div>

<div class="max-w-4xl mx-auto text-xl mb-20 text-center">

  <a href="/hotels-in-kings-cross" target="_blank" class="underline block my-4">Hotels in Kings Cross</a>
  <a href="/hotels-kings-cross" target="_blank" class="underline block my-4">Hotels Kings Cross</a>
  

</div>
 
	


</Layout>       

