---
import Logo from "../../assets/logos/logo-megaro.svg";

---
<nav class="bg-black py-2 shadow-md">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="mx-auto lg:mx-0">
      <a href="https://www.themegaro.co.uk/">
          <img 
          src={Logo.src}
          width="100"
          alt="The Megaro Hotel"
          class="ml-4"
          />
          </a>
         

    </div>
   
   
          <div class="mx-auto max-w-max lg:mx-0 text-center">
         <a href="https://www.themegaro.co.uk/" class="block mx-auto my-10 px-8 lg:py-4  py-2 bg-pink-800 hover:bg-gray-800 text-white text-xl font-bold rounded">Book Now</a>
        </div>
    
    