---
import Logo from "../../assets/logos/california-logo.png";

---
<nav class="bg-black py-2 shadow-md">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="mx-auto lg:mx-0">
      <a href="https://www.thecalifornialondon.com/">
          <img 
          src={Logo.src}
          width="100"
          alt="The California Hotel"
          class="ml-4"
          />
          </a>
         <h1 class="text-white">The California Hotel</h1>

    </div>
   
   
          <div class="mx-auto max-w-max lg:mx-0 text-center">
         <a href="https://www.thecalifornialondon.com/" class="block mx-auto my-10 px-8 lg:py-4  py-2 bg-brand-primary hover:bg-brand-secondary text-gray-900 text-xl font-bold rounded">Book Now</a>
        </div>
    
    