---
import SubTitle from "../components/Headings/SubTitle.astro";

---

<div class="bg-green-800 border-t px-4 py-6"><!-- START DIV FOR 'USP' SECTION -->

<SubTitle
color="white"
textAlign="center"
>Quality Driveway & Landscaping Services in London & Essex</SubTitle>
            
 <p class="text-lg lg:text-xl text-white text-center my-2">

    Bespoke Driveways and Landscaping are the number one choice for quality across Essex, North, South and East London.</p> 
  </div>