<div class="bg-green-800 border-t"><!-- START DIV FOR 'USP' SECTION -->
            
    <!-- START USP LIST -->
   <ul role="list" class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 py-2 lg:py-6 w-5/6 mx-auto text-xs lg:text-lg text-white">
   
       <!-- START USP LIST ITEM  -->
     <li class="col-span-1 flex pt-2 lg:py-0">
       
       
       <div class="flex-shrink-0 flex items-center justify-center w-16 lg:w-20  text-sm font-medium">
           <svg class="w-6 h-6 lg:w-8 lg:h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path></svg>
       </div>
  
  
       <div class="flex flex-1 items-center justify-between truncate">
         <div class="flex-1 truncate px-4 py-2 ">
           <p class="font-medium text-white uppercase">Free Help & Advice</p>
           
         </div>
         
       </div>
     </li>
  <!-- END USP LIST ITEM  -->
     
  <!-- START USP LIST ITEM  -->
  <li class="col-span-1 flex py-0">
       
       
   <div class="flex-shrink-0 flex items-center justify-center w-16 lg:w-20  text-sm font-medium">
       <svg class="w-6 h-6 lg:w-8 lg:h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path></svg>
   </div>
  
  
   <div class="flex flex-1 items-center justify-between truncate">
     <div class="flex-1 truncate px-4 py-2 ">
       <p class="font-medium text-white uppercase">10 Year Guarantee</p>
       
     </div>
     
   </div>
  </li>
  <!-- END USP LIST ITEM  -->
  
  <!-- START USP LIST ITEM  -->
  <li class="col-span-1 flex">
       
       
  <div class="flex-shrink-0 flex items-center justify-center w-16 lg:w-20  text-sm font-medium">
   <svg class="w-6 h-6 lg:w-8 lg:h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path></svg>
  </div>
  
  
  <div class="flex flex-1 items-center justify-between truncate">
  <div class="flex-1 truncate px-4 py-2 ">
   <p class="font-medium text-white">FAMILY RUN BUSINESS</p>
   
  </div>
  
  </div>
  </li>
  <!-- END USP LIST ITEM  -->
  
     
   </ul><!-- END USP LIST -->
  </div>