---
import { Image } from 'astro:assets'
---

<footer class="bg-gray-600" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
 
  <footer class="py-10">
  <p class="mt-8 text-base text-white text-center">
    &copy; {new Date().getFullYear()} The Megaro Hotel. All rights reserved.
  </p>
  




</footer>


